.comment-main {
  display: flex;
  flex-direction: column;
}
.comment-top {
  display: flex;
}
.comment-titles {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 20px;
}
.comment-bot {
  text-align: left;
}
