.comment-create-main {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(66, 66, 66);
}

.comment-create-top,
.comment-create-mid,
.comment-create-bot {
  margin-bottom: 10px;
}

.comment-create-main textarea {
  width: 100%;
  padding: 8px 16px;
  border-radius: 4px;
  resize: vertical;
  overflow: hidden;
  box-sizing: border-box;
  /* box sizing allows the container to be sized to include padding so 100% width doesnt break out of main container */
  background-color: rgb(44, 44, 44);
  border: 1px solid gray;
  color: white;
}
