.home-main {
  width: 100vw;
  height: 95vh;
  display: grid;
  grid-template-columns: 2fr 7fr;
  /* grid-template-rows: 3fr; */
}

.home-left {
  grid-column: 1/2;
  /* grid-row: 1/3; */
  /* border: 1px solid pink; */
  /* overflow: auto; */
}

.home-right {
  grid-column: 2/9;
  height: 100%;
  /* grid-row: 1/3; */
  /* border: 1px solid blue; */
  overflow: scroll;
  overflow-x: hidden;
}

.top-nav {
  border-bottom: 1px solid gray;
  position: sticky;
  top: 0;
  background-color: rgb(71, 70, 70);
}

/* .home-main {
  height: 100%;
}

.home-left {
  height: 100%;
  width: 25%;
  border: 1px solid black;
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 20px;
}

.top-nav {
  position: fixed;
  top: 0;
  height: 5vh;
  width: 70%;
  border: 1px solid black;
}

.home-right {
  height: 100%;
  width: 70%;
  border: 1px solid black;
  position: fixed;
  top: 0;
  right: 0;
  overflow: scroll;
  margin-top: 5vh;
  background-color: lightgray;
}

.home-map {
  height: 50vh;
  border: 1px solid black;
} */
