.main {
  width: 100vw;
  height: 95vh;
  display: flex;
}

.left {
  width: 75%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  overflow: scroll;
  overflow-x: hidden;
}

.left::-webkit-scrollbar {
  background-color: lightgray;
}

.right {
  width: 25%;
  height: 100%;
  box-sizing: border-box;
}
