.post-main-cont {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(66, 66, 66);
}

.post-main-cont:hover {
  border: 1px solid white;
}

.post-top-cont {
  display: flex;
  margin: 5px;
  border-bottom: 1px solid gray;
}

.post-titles {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 20px;
}

.post-mid-cont {
  text-align: left;
}
