.post-main-cont {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(66, 66, 66);
}

.post-top-cont,
.post-mid-cont {
  margin-bottom: 1rem;
}

.post-main-cont:hover {
  border: 1px solid white;
}

.post-top-cont {
  display: flex;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid gray;
}

.post-titles {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 2em;
}

.posted-by {
  margin-right: 5px;
}

.posted-by:hover {
  text-decoration: underline;
  cursor: pointer;
}

.post-mid-cont {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.post-bot-cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid green; */
  width: fit-content;
  padding: 5px;
}

.post-bot-cont:hover {
  background-color: rgb(34, 34, 34);
  cursor: pointer;
}

.comments-button {
  display: flex;
}

.comment-icon {
  margin-right: 5px;
  color: darkgray;
  fontsize: 5px;
}
