.post-main-cont {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(66, 66, 66);
}

.post-top-cont,
.post-mid-cont,
.post-bot-cont {
  margin-bottom: 1rem;
}

.post-main-cont:hover {
  border: 1px solid white;
}

.post-top-cont {
  display: flex;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid gray;
}

.post-titles {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 2em;
}

.posted-by {
  margin-right: 5px;
}

.posted-by:hover {
  text-decoration: underline;
}

.post-mid-cont {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}
