.dropdown select {
  /* background-color: black; */
}

.dropdown option {
  /* color: white; */
}

.dropdownComp {
  background-color: black;
  color: white;
}

.item {
  /* background-color: black; */
  /* color: white; */
}

.ui.dropdown.menu > .item {
  /* color: white; */
}

.ui.search.selection.dropdown {
  background-color: white;
  color: white;
}

.ui.search.selection.dropdown:hover {
  background-color: white;
  color: white;
}

.ui.search.dropdown.active > input.search,
.ui.search.dropdown.visible > input.search {
  color: white;
}
