.user-main {
  width: 100vw;
  height: 95vh;
  display: flex;
}

.user-left {
  width: 75%;
  overflow: scroll;
  overflow-x: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

.user-right {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  width: 25%;
  height: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.user-left::-webkit-scrollbar {
  background-color: lightgray;
}

.toggle-button {
  background-color: lightcoral;
}

div.btn-group {
  padding: 10px;
  margin-left: 20px;
  padding-top: 20px;
}

button.btn.btn-secondary {
  background-color: rgb(66, 66, 66);
}

button.btn.btn-secondary:focus {
  background-color: lightcoral;
}
