.view-main {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(66, 66, 66);
}

.view-top,
.view-mid {
  margin-left: 20px;
  margin-right: 20px;
}

.view-top {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
}

.view-titles {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 2em;
}

.view-post {
  margin-left: 10px;
}

.post-image {
  /* height: 100%;
  width: auto; */
}
